

.account-form-container {

      display: none;  
      color: var(	--color-primary);
      position: absolute;
}  

.sign-in-form{

      display: none; 
      margin: var(--spacing-medium);
      flex-direction: column;
      align-items: center; 
      gap: var(--spacing-small); 
      border: 2px solid var(--color-primary);
      padding: var(--spacing-medium); 
      background-color:var(--color-secondary-1);
   }  

.sign-up-form{

      display:none;
}  

.sign-up-form--visible{

      display: flex;
      flex-direction: column;
      align-items: center; 
      gap: var(--spacing-small);

      position: relative;
      bottom: var(--spacing-medium);
      padding: var(--spacing-medium); 
      margin: var(--spacing-medium);

      border: 2px solid var(--color-primary);
      background-color:var(--color-secondary-1);
}  



.sign-in-form label,
.sign-up-form--visible label{

      margin-top: var(--spacing-medium);
}

.sign-in-form input ,
.sign-up-form--visible input {

       margin-top: var(--spacing-small);
       border: 1px solid var(--color-secondary);
       height: 1.5rem;
}

 sup{
      color: var(--color-secondary);
 }

.account-form-button,
.sign-out-button{ 

       cursor: pointer; 
       margin-top: 0.8rem;
       display: block;
}  

.sign-in-form-close {
      
       align-self: flex-end;
       margin-bottom: var(--spacing-small);
       border: 1px solid var(--color-secondary);
       color: var(--color-primary); 
       padding: 0.3rem 0.5rem;
       background-color: transparent;
  }

 
  .sign-up-button,
  .sign-in-button, 
  .signup-form-open{
         border: 1px solid var(--color-secondary);
         padding: 0.3rem;
         color: var(--color-primary);
         background-color: transparent;
      
}
.account-form-button:hover,
.sign-out-button:hover,
.sign-up-button:hover,
.sign-in-button:hover,
.sign-in-form-close:hover,
.signup-form-open:hover {
          background-color: var(--color-secondary);
          color: var(--color-secondary-1); 
}

 @media (min-width: 450px) {
        .account-form-container {
            display: flex;
            justify-content: flex-end; 
            width: 60%;
            padding-right: var(--spacing-large);
            margin-left: 13rem;
            margin-top: 6rem;
        }
    }