




.currency-container {
  height: 1.8rem;
  width:  3rem;
  /*margin-top: 1rem; */
  position: relative; }
 /* border: 1px solid var(--color-main); } */
  
.currency-toggle {
   margin-top: 0.3rem;
   color:rgb(78, 255, 78) ;
   border: 1px solid rgb(78, 255, 78);
   background-color: transparent;
   height: 1.9rem;
   width:  3rem; 
   cursor: pointer;
  }   
  .currency-toggle:hover{
      background-color: var(--secondary-color); 
      color: var(--color-secondary); 
  }
  /*-----------------------*/

.currency-menu {
    display: none ;
  }  

.currency-menu--visible {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
 
  }
  
  .currency-option {
    padding: 8px 8px; 
    cursor: pointer;
  }

  .currency-option:hover {
    background-color: var(--color-tertiary);
  }
  
  