
.currency-container {
  height: 2.5rem;
  width:  3rem;
  margin-top: 1rem;
  position: relative;
  border: 1px solid var(--color-main);
  } 
  
.currency-toggle {
   background-color: transparent;
   height: 2.5rem;
   width:  3rem; 
   cursor: pointer;
  }  

  /*-----------------------*/

.currency-menu {
    display: none ;
  }  

.currency-menu--visible {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
 
  }
  
  .currency-option {
    padding: 8px 8px; 
    cursor: pointer;
  }

  .currency-option:hover {
    background-color: var(--color-tertiary);
  }
  
