


.search-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: var(--spacing-medium);
    padding-left: 3rem;
  
    height: var(--spacing-large);
    border: 1px solid  #3114E5;
  }
  
  .search-button{
    cursor: pointer;
    height: 1.5rem;
    position:relative;
    top: -1.5rem;
  
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    border: none;
    background-color: transparent;
  }
  
  
  
  select {
     cursor: pointer;
     border: none;
     padding: ;
     margin: 0;
     background-color: ;
     border-bottom: 1px solid black;
     width: 100%;
    
    }
    
    .filter-toggle {
       text-align: center;
       cursor: pointer;
       background-color: #f4f4f4;
       border: 1px solid  #3114E5;
       background-color: transparent;
       padding: 10px;
       width: 100%;
    }
    
    .filter-menu{
       display: none;
    }
    
    .filter-menu--visible {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-large);
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
    }