

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  h2 {
    padding: var(--spacing-medium);
  }

nav {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: var(--spacing-medium);
} 

nav header {
    flex-grow: 1; 
} 
 
.navigation-button {
    display: flex; 
    flex-direction: row;
    gap: var(--spacing-medium);
    align-items: center; 
}

  main {
    display: flex;
    flex-direction: column;
  }
  
  .content-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 



