

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
   /* font-size: x-large;*/
    background-color: var(--secondary-color);
 
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.6rem;
  }
  header, .heander-frontpage {
    font-size: xx-large;
    font-weight: 400;

  }
 
  .heander-frontpage {
    padding: var(--spacing-medium);
  }

nav {
  background-color:  rgb(130, 126, 115);
  color: rgb(78, 255, 78);
 /* border-bottom: 0.6rem solid var(--secondary-color); */
    display: flex; 
    flex-direction: row; 
    align-items: center;  
    padding: var(--spacing-medium); 
} 

nav header {
    flex-grow: 1; 
} 
 
.navigation-button {
    display: flex; 
    flex-direction: row;
    gap: var(--spacing-medium);
    align-items: center; 
}

  .content-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .frontpage-container{ 

    color: rgb(78, 255, 78);
    display: block;
    border: 3px solid black;
    background-color:  rgb(130, 126, 115);
    padding: 5rem;

  }

/*------------------------------*/

  .frontpage {
    margin-top: 6rem;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 3rem;
    align-items: center; 

    border-radius: 0.2rem; 
    margin: 2rem; 
    padding: 1rem; 
    overflow: hidden;  
  }

  .frontpage-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200%;
    min-width: 60%; 
  }


.frontpage-img img{
    width: 200%;
    margin: 10px; 
    min-width: 60%; 
}  

.frontpage-text {
  position: absolute;
  top: 5rem;
  max-width: 200%; 
  text-align: center;
}

@media (min-width: 768px) {
  .frontpage-img {
    width: 150%;
    margin-left: -8rem;
    display: flex;
    align-self: start;
    justify-content: start;
  }
  nav{
    background-color: var(--color-main);
  }
}