

:root {
	

	--color-main: #1D2423;
	--secondary-color: #FF398C;

	--color-primary:#3114E5;
	--color-secondary:#FEF9F9;
	--color-tertiary:#778971;
	

	--border: 6rem;
	

	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-xlarge: 3rem;

}